.nav-wrapper-blk {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
    nav {
        max-width: 980px;
        height: 90px;
        margin: 0 auto;
        border-bottom: solid 2px black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: GillSansReg;
    }
    .logo {
        position: relative;
        width: 92px;
        height: 42px;
        background-image: url(../images/logo-black.png);
    }
    .links {
        width: 350px;
        display: flex;
        justify-content: space-around;
        a {
            text-decoration: none;
            color: black;
        }
        span {
            color: #ee4367;
        }
    }
}
@media only all and (max-width:980px){
    .nav-wrapper {
        nav {
            padding: 0 30px;
        }
    }
}